(
    selected_tab: Reset,
    command_fg: Rgb(243, 139, 168),
    selection_bg: Rgb(49, 50, 68),
    cmdbar_extra_lines_bg: Rgb(49, 50, 68),
    disabled_fg: DarkGray,
    diff_line_add: Rgb(166, 227, 161),
    diff_line_delete: Red,
    diff_file_added: Rgb(166, 227, 161),
    diff_file_removed: LightRed,
    diff_file_moved: Rgb(180, 190, 254),
    diff_file_modified: Rgb(250, 179, 135),
    commit_hash: Magenta,
    commit_time: Rgb(148, 226, 213),
    commit_author: Rgb(166, 227, 161),
    danger_fg: Red,
    push_gauge_bg: Rgb(49, 50, 68),
    push_gauge_fg: Reset,
)
